@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&family=Roboto&family=Work+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;
}
body{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* navbar */

.navbar{
    width: 100%;
    height: 7.5rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 10rem;
    background-color:#516071;
}
.Logo_name{
    grid-column: 2/3;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: white;
}
.hambuger{
    display: none;
}

.fa-snowflake{
    transition: all linear;
    animation: rotate 2s linear infinite ;
}

@keyframes rotate{
     0%{
         transform: rotate(0deg);
     }
     100%{
        transform: rotate(360deg);
     }
}

.navlist{
    grid-column: 3/4;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}
.nav_mobile{
    display: none;
}
.navlist li{
    margin: 2rem;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    padding: 1rem;
    transition-duration: 0.3s;
    border-radius: 0.8rem;
}
.navlist li a:hover{
    color: #516071;
    background-color: white;
}
.hambuger button[name="close"]{
    display: none;
 }


 /* home page */
.main_content{
    max-width: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
}
.content{
    grid-column: 2/3;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content_1{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.content p{
     font-size: 1.5rem;
     font-weight: 400;
     font-family: 'Montserrat', sans-serif;
}
.content h2{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}
.content span{
    color:#48b7e6;
    font-weight: bold;
}
.content .btn{
   border-radius: 0.5rem;
   text-decoration: none;
   height: 4rem;
   width: 15rem;
   font-weight:800;
   font-size: 1.5rem;
   background-color: #d3d5d8;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 0.5s ;
   box-shadow: 0.2rem 0.6rem 1rem rgba(0,0,0,0.3);
}
.content .btn:hover{
    transform: scale3d(1.02,1.02,1.02);
    background-color:#516071 ;
    color: white;
 }
.image{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
}

.photo{
    width: 80%;
    height: 80%;
    background-color:#f9fbfd;
}
/* about page */
.main_header{
    width: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
}
.main_photo{
    grid-column: 2/3;
    /* height: 60rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header{
    grid-column: 3/4;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header p{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.header h2{
   font-size: 2rem;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 2rem;
}
.header span{
   color:#48b7e6;
   font-weight: bold;
}
.header .btn{
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  height: 4rem;
  width: 10rem;
  font-weight:800;
  font-size: 1.3rem;
  background-color: #d3d5d8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s ;
  box-shadow: 0.2rem 0.6rem 1rem rgba(0,0,0,0.3);
}
.header .btn:hover{
   transform: scale3d(1.02,1.02,1.02);
   background-color:#516071 ;
   color: white;
}
.myphoto{
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 2rem;
}



.footer{
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 2rem;
    background-color:#d3d5d8;
    color: white;
    margin-top: auto;
}
.err{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.err_photo{
     width: 500px;
     height: 500px;
}
.err p{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: justify ;
}
.header .btn{
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  height: 4rem;
  width: 10rem;
  font-weight:800;
  font-size: 1.3rem;
  background-color: #d3d5d8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s ;
  box-shadow: 0.2rem 0.6rem 1rem rgba(0,0,0,0.3);
}
.header .btn:hover{
   transform: scale3d(1.02,1.02,1.02);
   background-color:#516071 ;
   color: white;
}
.err .btn{
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    height: 4rem;
    width: 10rem;
    font-weight:800;
    font-size: 1.3rem;
    background-color: #d3d5d8;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s ;
  box-shadow: 0.2rem 0.6rem 1rem rgba(0,0,0,0.3);
  }
  .err .btn:hover{
     transform: scale3d(1.02,1.02,1.02);
     background-color:#516071 ;
     color: white;
  }
.main_weather{
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 8rem; */
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_form{
   width: 50%;
   position: relative;
   /* margin: 2rem auto 2rem; */
}
.search_form input[type="text"]{
    width: 100%;
    padding: 2rem 9rem 2rem 2rem;
    color: white;
    background-color:#516071 ;
    outline: none;
    border: none;
    border-radius: 3rem;
    font-size: 1.7rem;
}
::placeholder{
    color: white;
}
.search_form input[type="submit"]{
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  border: none;
  border-radius: 3rem;
  background-color: #8398a1;
  padding: 0 3rem;
  color: white;
  font-size: 1.6rem;
  box-shadow: 0rem 0.5rem 0.5rem rgba(13, 12, 12, 0.3);
}
.search_form input[type="submit"]:hover{
    color:#8398a1 ;
    background-color: white;
    font-weight: 600;
}
.weather{
    width: 30rem;
    margin:4rem auto;
    min-height: 20rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    background-color:#516071 ;
}
.top{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8398a1;
    font-size: 1.5rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    margin: 0rem;
}
.top p{
    color: white;
    font-weight: 300;
    padding: 1rem;
}
.middle{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.middle #city_name{
    font-size: 1.5rem;
    color: #eeeaea;
    font-weight: 500;
}
.middle .middle_top{
    display: flex;
    height: 12rem;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.middle .middle_top p{
    font-size: 4.5rem;
}
.info_p{
    font-size: 1.5rem;
}
.datahide{
    visibility: hidden;
    transition: all 0.3s linear;
}
@media (min-width:869px) and (max-width:1000px){
    .myphoto{
        height: 60%;
    }
    .photo{
        height: 70%;
    }
}


@media (max-width:868px){
 
    .footer{
        padding: 0.5rem;
        font-size: 1.8rem;
        text-align: justify;
        text-align-last: center
    }
    .main_header{
        display: flex;
        flex-direction: column;
    }
    .main_photo{
        height: 40rem;
        align-items: center;
    }
    .header{
        padding: 1rem;
        height: 20rem;
        align-items: center;
        justify-content: flex-start;
    }
    .header .btn{
        height: 4rem;
        width: 10rem;
        font-size: 1.3rem;
        margin-left: 2rem;
    }
    .myphoto{
        width: 80%;
        height: 30rem;
        border-radius: 2rem;
    }
    .header p{
        font-size: 1.5rem;
    }
    .header h2{
       font-size: 1.5rem;
    }
    .main_content{
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
    }
    .content{
        padding: 1rem;
        height: 20rem;
       
    }
    .image{
        height: 40rem;
        align-items: center;
    }
    .content p{
        font-size: 1.5rem;
    }
    .content h2{
       margin-top:  0.8rem;
       font-size: 1.5rem;
       margin-bottom: 4rem;
    }
    .content .btn{
        height: 4rem;
        width: 10rem;
        font-size: 1.3rem;
        margin-left: 2rem;
    }
 }
 @media (max-width:300px){
    .main_photo{
        height: 30rem;
        align-items: center;
    }
    .footer{
        font-size: 1.4rem;
    }
    .myphoto{
        height: 20rem;
    }
    .header .btn{
        height: 3.5rem;
        width: 9rem;
        padding: 1rem;
        font-size: 1.1rem;
     }
    .header p{
        font-size: 1.4rem;
    }
    .header h2{
       font-size: 1.4rem;
    }
    .content p{
        font-size: 1.4rem;
    }
    .content h2{
       font-size: 1.4rem;
       margin-bottom: 3rem;
    }
    .content .btn{
        height: 3.5rem;
        width: 9rem;
        margin: 1rem;
        font-size: 1.1rem;
     }
}

 @media (min-width:769px) and (max-width:868px){
    .navbar{
         display: grid;
         grid-template-columns: 4rem 1fr 2fr 2rem;
         background-color:#516071;
     }
    
  }
 @media (max-width:768px){
    .search{
        width: 80%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        color:black;
        height: 5rem;
        position: relative;
    }
    .Logo_name{
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    
    .hambuger{
        z-index: 999;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav{
        /* display: none; */
        width: 100%;
        height: 100vh;
        z-index: 998;
        background-color: #516071;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
       /* to get transition */
       transform: translateX(100%);
       transition: all 0.4s linear;
       opacity: 0;
       visibility: hidden;
       pointer-events: none;
     }
     .navlist{
        flex-direction: column;
        cursor: pointer;
     }
     .active .nav{
       transform: translateX(0%);
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
     }
     .active .hambuger button[name="close"]{
        display: block;
     }
     .active .hambuger button[name="open"]{
        display: none;
     }

    .pro_active{
        height: 3rem;
        width: 3rem;
        border-radius: 0.5rem;
        background-color:white ;
        border: none;
        outline: none;
    }
    .pre_active{
        height: 3rem;
        width: 3rem;
        border-radius: 0.5rem;
        background-color:white ;
        border: none;
        outline: none;
    }
    .search_form{
        width: 80%;
    }
    .search_form input[type="submit"]{
        padding: 0 2rem;
    }
   
 }
 @media (max-width:500px){
    .search_form{
        width: 100%;
    }
    .search_form input[type="submit"]{
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }
    .search_form input[type="text"]{
       padding: 2rem 7rem 2rem 2rem;
        font-size: 1.5rem;
    }
    .weather{
        width: 75%;
    }
 }
 @media (max-width:360px){
    .middle{
        padding: 1rem;
    }
    .middle #city_name{
        font-size: 1.5rem;
    }
    .middle .middle_top p{
        font-size: 3rem;
    }
    .info_p{
        font-size: 1.1rem;
    }
 }