<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Wheather App</title>
</head>
<body>
       <!-- navbar section -->

       {{>navbar}}
      
       <!-- content section -->

        <div class="main_header">
             <div class="main_photo">
                 <img src="https://www.blogtyrant.com/wp-content/uploads/2011/02/best-about-us-pages.png" alt="Plz, Load again" class="myphoto">
             </div>
             <div class="header">
                <div class="header_1">
                  <p>Hello, welcome to My weather website</p>
                  <h2>
                    I'm <span>MERN Stack Developer</span> and coder.
                  </h2>
                  <p>
                    For any query related to website and coding contact Me
                  </p>
                  <a class="btn" href="https://www.linkedin.com/in/jil-patel-87a49721b/" target="_Jil" >
                     Contact
                  </a>
                </div>
             </div>
        </div> 
     
       {{!-- footer section --}}

       {{>footer}}
       
       <script src='js/about.js'></script>
    
</body>
</html>