   <div class="navbar">
          <div class="Logo_name">
            <i class="fa-regular fa-snowflake"></i> <span> </span>  <span class="name">Jil</span>Weather  <span> </span>  <i class="fa-regular fa-snowflake"></i>
          </div>
          <nav class="nav">
              <ul class="navlist">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/weather">Weather</a></li>
          </ul>
          </nav>
          <div class="hambuger">
              <button name="open" class="pro_active">
                  <i class="fa-solid fa-bars"></i>
              </button>
              <button  name="close" class="pre_active">
                   <i class="fa-sharp fa-solid fa-xmark"></i>
              </button>
          </div>
    </div>